
html, body {
  height: 100%;
}

body {padding-bottom: 70px;}


#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  display: block;
  background-color: white;
}